{% extends "pokebattle/base.html" %}

{% block content %}

  <div class="center" id="board">
    <br><br>
    <h6>Loading your game...</h6>

    <br>
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  </div>

{% endblock content %}


{% block libs %}

{% endblock libs %}

{% block script %}
{#<script>#}
  setTimeout(load_game, 1000);

  function load_game(options) {

      $.post("/loadgame", options)
          .done(function (data) {
              $("#board").html(data)
          })
          .fail(function () {
              toast('Error!')
      });
  }
{#</script>#}
{% endblock script %}
