{% load static %}

  <div class="game">
    <div class="card-panel teal white-text">
      <h5>{{ battle }} Battle {% if pokemon_pc %} - {{ type }} {% endif %}</h5>
      <h6>Choose your Pokemon:</h6>
    </div>

    <div class="row valign-wrapper">
      {% for p in pokemon %}
      <div class="center col s{{ colsize }}">
        <a onclick="load_game({pokemon:{{ p.pokemon_id }}})" style="cursor:pointer;"><img src="{{ p.url }}"></a>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for p in pokemon %}
      <div class="center col s{{ colsize }}">
        <div class="chip">{{ p.name }}</div>
        {% if pokemon_pc %}
        <br><div class="chip">
          <img src="{% static 'pokebattle/img/attack.png' %}">{{ p.attack }}
        </div>
        <div class="chip">
          <img src="{% static 'pokebattle/img/defense.png' %}">{{ p.defense }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    {% if pokemon_pc %}
    <div class="row">
      <div class="center col s3"></div>
      <div class="center col s6 card-panel teal lighten-3">
        <h6 class="white-text">Opponent</h6><br>
        <img src="{{ pokemon_pc.url }}"></a><br>
        <h6 class="chip">{{ pokemon_pc.name }}</h6>
      </div>
      <div class="center col s3"></div>
    </div>
    {% endif %}

  </div>

  <script>
    {#toast("Choose your Pokemon!")#}
  </script>