

  <div class="game">
    <div class="center"><br><br>
      <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/pikachu.gif">
{#      <h5>You Gotta Catch Them All!</h5>#}
    </div><br>
     <div class="card-panel teal white-text">
      <h5>Hello {{ trainer.nickname }}</h5>
      <h6>Please, choose the game options bellow:</h6><br>
     </div>

    <div class="row">
      <div class="col s6">
        <a onclick="load_game({mode:1})" class="btn-large green">Easy</a>
      </div>
      <div class="col s6">
        <a onclick="load_game({mode:3})" class="btn-large red">Hard</a>
      </div>
    </div>

  </div>

  <script>
    {#toast("Game Options!")#}
  </script>