{% load static %}

  <div class="game">
  <div class="card-panel {{ color }} white-text">
    <h5><b>{{ result }}</b> {{ battle }} Battle!</h5>
  </div>

    <br><br>
    <div class="row valign-wrapper">
      <div class="col s6">
        <img src="{{ pokemon_defense.url }}">
      </div>
      <div class="col s6">
        <img src="{{ pokemon_attack.url }}">
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h6 class="chip">{{ pokemon_defense.name }}</h6><br>
        <div class="chip">
            <img src="{% static 'pokebattle/img/defense.png' %}">{{ pokemon_defense.defense }}
          </div>
      </div>
      <div class="col s6">
        <h6 class="chip">{{ pokemon_attack.name }}</h6>
        <br><div class="chip">
            <img src="{% static 'pokebattle/img/attack.png' %}">{{ pokemon_attack.attack }}
          </div>
      </div>
    </div>
    <br>

    {% if next %}
      <a onclick="load_game()" class="btn">Next Battle</a>
    {% else %}
      <a onclick="load_game({results:{{new_pokemon}}})" class="btn">Results</a>
    {% endif %}

  </div>

  <script>
    toast("{{ result }}!")
  </script>