{% extends "pokebattle/base.html" %}

{% block logo %} My Pokemon {{  pokemon_count }}{% endblock logo %}

{% block content %}
    <select name="sort_dropdown">
      <option selected="selected" value="attack">Attack</option>
      <option value="defense">Defense</option>
      <option value="stamina">Stamina</option>
    </select>

        <input type="submit" value="Sort" name="attribute">
  {% if my_pokemon %}
    <ul class="collection">
        {% for p in my_pokemon %}
        <li class="collection-item avatar">
            <a href="/pokemon/{{ p.pokemon_id }}">
                <img src="{{ p.thumb_url }}" alt="" class="circle">
                <span class="title">{{ p.name }}</span>
                <p>Attack: {{  p.attack }} <br>
                    Defense: {{ p.defense }} <br>
                    Stamina: {{ p.stamina }}
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
      <div class="center"><br><br>
        <h5>You Gotta Catch Them All!</h5>
      </div>
    {% endif %}

{% endblock content %}


{% block libs %}

{% endblock libs %}

{% block script %}

{% endblock script %}
