{% extends "pokebattle/base.html" %}

{% block logo %} {{ pokemon_count }} Pokemon {% endblock logo %}

{% block content %}

{#  <div class="center">#}
{#    <h5>My Pokemon ({{ pokemon_count }} ) </h5>#}
{#  </div>#}

  {% if my_pokemon %}
    <ul class="collection">
        {% for p in my_pokemon %}
        <li class="collection-item avatar">
            <a href="/pokemon/{{ p.pokemon_id }}">
                <img src="{{ p.url }}" alt="" class="circle">
                <span class="title">{{ p.name }}</span>
                <p>Attack: {{  p.attack }} <br>
                    Defense: {{ p.defense }} <br>
                    Stamina: {{ p.stamina }}
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
      <div class="center"><br><br>
        <h5>You Gotta Catch Them All!</h5>
      </div>
    {% endif %}

{% endblock content %}


{% block libs %}

{% endblock libs %}

{% block script %}

{% endblock script %}
