{% extends "pokebattle/base.html" %}
{% load static %}

{% block logo %} {{  pokemon_count }} Pokemon {% endblock logo %}


{% block content %}


{#  <div class="center">#}
{#    <h5>My Pokemon ({{ pokemon_count }} ) </h5>#}
{#  </div>#}

<div class="container">
  <select name="sort_dropdown">
    <option selected="selected" value="attack">Attack</option>
    <option value="defense">Defense</option>
    <option value="stamina">Stamina</option>
  </select>
  <input type="submit" value="Sort" name="attribute">

  {% if my_pokemon %}
    <ul class="collection">
        {% for p in my_pokemon %}
        <li class="collection-item">
          <a href="/pokemon/{{ p.pokemon_id }}"><br>
            <div class="row">
              <div class="col s6 center-align">
                <img src="{{ p.url }}" >
                <br><h6 class="chip"><img src="{% static 'pokebattle/img/pokeball.png' %}"><b style="display:flex; justify-content:center; align-items:center;">{{ p.name }}</b></h6>
              </div>
              <div class="col s6">
                <div class="chip">
                  <img src="{% static 'pokebattle/img/attack.png' %}">A: {{ p.attack }}
                </div>
                <br><div class="chip">
                  <img src="{% static 'pokebattle/img/defense.png' %}">D: {{ p.defense }}
                </div>
                <br><div class="chip">
                  &#9889; &nbsp; S: {{ p.stamina }}
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
      <div class="center"><br><br>
        <h5>You Gotta Catch Them All!</h5>
      </div>
    {% endif %}
</div>

{% endblock content %}


{% block libs %}

{% endblock libs %}

{% block script %}

{% endblock script %}
