{% extends "pokebattle/base.html" %}
{% load static %}

{% block logo %} Pokemon {% endblock logo %}

{% block content %}
<br><br>
<div class="row">
  <div class="col s12 center-align">
    <img src="{{ pokemon.url }}" >
    <br><h6 class="chip"><img src="{% static 'pokebattle/img/pokeball.png' %}"><b style="display:flex; justify-content:center; align-items:center;">{{ pokemon.name }}</b></h6>
  </div>

</div>
<div class="row">
  <div class="col s12 center-align">
    <div class="chip">
      <img src="{% static 'pokebattle/img/attack.png' %}">Attack: {{ pokemon.attack }}
    </div>
    <br><div class="chip">
      <img src="{% static 'pokebattle/img/defense.png' %}">Defense: {{ pokemon.defense }}
    </div>
    <br><div class="chip">
      &#9889; &nbsp; Stamina: {{ pokemon.stamina }}
    </div>
  </div>
</div>


{% endblock content %}


{% block libs %}

{% endblock libs %}

{% block script %}

{% endblock script %}
